<div>

  <div ng-show="step == 1">
    <h2>Krok 1/3</h2>

    <p>Wybierz z poniższej listy takie zajęcia, które osobiście, zgdnie z własnym sumieniem, zdecydowanie oceniasz
      <strong>pozytywnie</strong>:

    <p>


      <ul class="nav nav-pills nav-stacked col-xs-12 col-sm-6 col-md-8">
        <li ng-repeat="myLecture in lectures">
          <a href="#" classs="disabled" ng-model="myLecture" ng-click="addLecture(myLecture)">
            {{myLecture.name}} [{{myLecture.categoryName}}]
          </a>
        </li>
      </ul>



  </div>
  <div ng-show="step == 2">
    <h2>Krok 2/3</h2>

    <p>Wybrałeś {{myOpinion.lecture}}. Napisz swoją opinie na temat tych zajęć: </p>

    <textarea type="text" autofocus="" ng-model="myOpinion.firstOpinion" name="firstOpinion" class="form-control"
              placeholder="Twoja odpowiedź"></textarea>
    <br/>
      <button ng-click="addFirstOpinion()" ng-show="myOpinion.firstOpinion.length" type="submit" id="submit"
              class="btn btn-success col-md-3 col-md-offset-9">Zatwierdź
      </button>

  </div>
  <div ng-show="step == 3">
    <h2>Krok 3/3</h2>

    <p>Teraz napisz negatywną - tak <strong>negatywną</strong> - opinię o tych samych zajęciach ({{myOpinion.lecture}})
      . Wybrałeś te zajęcia jako pozytywne, więc w poniższym polu musisz skłamać, ale nie czuj się tym skrępowany.
      Napisz negatywną opinie <strong>tak, jakby to była Towja prawdziwa opinia</strong>:</p>

    <form ng-submit="addSecondOpinion()">
    <textarea type="text" ng-model="myOpinion.secondOpinion" name="secondOpinion" class="form-control"
              placeholder="Twoja odpowiedź"></textarea>
      <button ng-show="myOpinion.secondOpinion.length" class="btn btn-success col-md-3 col-md-offset-9" ng-click="addSecondOpinion()">Zatwierdź
      </button>
    </form>
  </div>

  <div ng-show="step == 'end' ">
    <koniec-ankiety></koniec-ankiety>
  </div>
</div>
