<div class="row" ng-show="step == 1">
  <h2>Krok 1/3</h2>

  <p>Wybierz z poniższej listy takie zajęcia, które osobiście, zgdnie z własnym sumieniem, zdecydowanie oceniasz
    <strong>negatywnie</strong>:

  </p>
  <ul class="nav nav-pills nav-stacked ">
    <li class="fx-fade-down" ng-repeat="myLecture in lectures">
      <a href="#"  ng-model="myLecture" ng-click="addLecture(myLecture)">
        <strong>{{myLecture.name}} [{{myLecture.categoryName}}]</strong>
      </a>
    </li>
  </ul>
  <br/>
  <br/>
</div>

<div class="row fx-fade-right fx-speed-350" ng-show="step == 2">
  <h2>Krok 2/3</h2>

  <p>Wybrałeś {{myOpinion.lecture}} Napisz pozytywną - tak, <strong>pozytywną</strong> - opinię o tych
    zajęciach. Wybrałeś te zajęcia jako negatywne, więc w poniższym polu musisz skłamać, ale nie czuj się tym
    skrępowany. Napisz pozytywną opinię <strong>tak jakby to była Twoja prawdziwa opinia</strong>:</p>


     <textarea type="text" autofocus="" ng-model="myOpinion.firstOpinion" name="firstOpinion" class="form-control"
               placeholder="Twoja odpowiedź"></textarea>
  <br/>
  <button ng-click="addFirstOpinion()" ng-show="myOpinion.firstOpinion.length >  5" type="submit" id="submit"
          class="btn btn-success btn-block fx-fade-down">Zatwierdź
  </button>
</div>

<div class="row fx-fade-right fx-speed-350" ng-show="step === 3">
  <h2>Krok 3/3</h2>

  <p>Teraz napisz Twoją <strong>autentyczną</strong> opinię o tych samych zajęciach ({{myOpinion.lecture}}):</p>

   <textarea type="text" ng-model="myOpinion.secondOpinion" name="secondOpinion" class="form-control"
             placeholder="Twoja odpowiedź"></textarea>
  <br/>
  <button ng-click="addSecondOpinion()" ng-show="myOpinion.secondOpinion.length >  5" type="submit" id="submit"
          class="btn btn-success btn-block fx-fade-down">Zatwierdź
  </button>

</div>

<div class = "row fx-fade-right fx-speed-350" ng-show="step == 'end'">
  <koniec-ankiety></koniec-ankiety>
</div>




