<div class="container">
  Rodzaj wariantu (pomozniczo) : {{kindOfOpinion}}
  <div ng-show="showStep1">
    <h2>Krok 1/3</h2>
    <strong>{{kindOfOpinion}}</strong>

    <p>Wybierz z poniższej listy takie zajęcia, które osobiście, zgdnie z własnym sumieniem, zdecydowanie oceniasz
      <strong>negatywnie</strong>:

    <p>

    <form class="list-group-item-heading" ng-repeat="myLecture in lectures">
      <button class="lecture-btn" ng-model="myLecture" ng-click="addLecture(myLecture)" class="btn-link">
        {{myLecture}}
      </button>
    </form>
  </div>

  <div class="container" ng-show="showStep2">
    <h2>Krok 2/3</h2>

    <p>Wybrałeś {{myOpinion.lecture}} Napisz pozytywną - tak, <strong>pozytywną</strong> - opinię o tych
      zajęciach. Wybrałeś te zajęcia jako negatywne, więc w poniższym polu musisz skłamać, ale nie czuj się tym
      skrępowany. Napisz pozytywną opinię <strong>tak jakby to była Twoja prawdziwa opinia</strong>:</p>


    <textarea type="text" ng-model="myOpinion.firstOpinion" name="firstOpinion" class="form-control"
              placeholder="Twoja odpowiedź"></textarea>
    <button ng-click="addFirstOpinion()" ng-show="myOpinion.firstOpinion.length" type="submit" id="submit"
            class="btn-success">Zatwierdź
    </button>
  </div>

  <div class="container" ng-show="showStep3">
    <h2>Krok 3/3</h2>

    <p>Teraz napisz Twoją <strong>autentyczną</strong> opinię o tych samych zajęciach ({{myOpinion.lecture}}):</p>

    <form ng-submit="addSecondOpinion()">
    <textarea type="text" ng-model="myOpinion.secondOpinion" name="secondOpinion" class="form-control"
              placeholder="Twoja odpowiedź"></textarea>
      <button ng-show="myOpinion.secondOpinion.length" class="btn-success" ng-click="addSecondOpinion()">Zatwierdź
      </button>
    </form>
  </div>

  <div ng-show="end">
    <koniec-ankiety></koniec-ankiety>
    {{myOpinion}}
  </div>

</div>


